.caja {

    background-color: darkgrey;
    width: 100px;
    height: 50px;
    border-color: 5px solid black;
    margin:auto;
    margin-bottom: 30px;
    
}
    


.caja {
    width:auto;
}

body {
    background-color: darkgreen;
}